.header {
    grid-area: h;
    background-color: burlywood;
}


.header img {
    height: 60px;
}

.loginBlock {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

.loginBlock a {
    color: white;
}