.app-wrapper {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.nav {
    grid-area: n;
    background-color: greenyellow;
}

.header {
    grid-area: h;
    background-color: burlywood;
}


.header img{
    height: 60px;
}
.content {
    grid-area: c;
    background-color: palevioletred;
}